{% block title %}
  DCGPUPerf Lab Usage Calendars
{% endblock %}


{% block content %}
  <h1>Systems:</h1>

  <h3>MLPerf-MI300X:</h3>

  <p><a href="mlperf">mlperf-mi300x</a></p>



  <h3>MI300X:</h3>

  <p><a href="calendars/banff-1e707-c01-1">banff-1e707-c01-1</a></p>
  <p><a href="calendars/banff-pla-u29-29">banff-pla-u29-29</a></p>
  <p><a href="calendars/banff-1e707-e05-5">banff-1e707-e05-5</a></p>

  <p><a href="calendars/gpuperf-lab-79">gpuperf-lab-79</a></p>
  <p><a href="calendars/gpuperf-lab-80">gpuperf-lab-80</a></p>
  <p><a href="calendars/gpuperf-lab-81">gpuperf-lab-81</a></p>
  <p><a href="calendars/gpuperf-lab-82">gpuperf-lab-82</a></p>
  <p><a href="calendars/gpuperf-lab-84">gpuperf-lab-84</a></p>
  <p><a href="calendars/gpuperf-lab-85">gpuperf-lab-85</a></p>
  <p><a href="calendars/gpuperf-lab-86">gpuperf-lab-86</a></p>
  <p><a href="calendars/gpuperf-lab-87">gpuperf-lab-87</a></p>

  <h3>MI300A:</h3>

  <p><a href="calendars/pp-126-032b">pp-126-032b</a></p>
  <p><a href="calendars/pp-128-a6-1">pp-128-a6-1</a></p>
  <p><a href="calendars/pp-128-b5-4">pp-126-b5-4</a></p>
  <p><a href="calendars/ppac-1e707-a03-1">ppac-1e707-a03-1</a></p>
  <p><a href="calendars/ppac-1e707-a05-6">ppac-1e707-a5-6</a></p>
  <p><a href="calendars/sh5-126-b3-1">sh5-126-b3-1</a></p>
  
  <h3>H100 DGX:</h3>
  
  <p><a href="calendars/gpuperf-lab-72">gpuperf-lab-72</a></p>
  <p><a href="calendars/gpuperf-lab-73">gpuperf-lab-73</a></p>
  
{% endblock %}
